/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Pushes the footer to the bottom */
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
